{% extends 'registration/base_reg.html' %}

{% block element %}
    <form class="login100-form validate-form" method="post">
            {% csrf_token %}
{#            {{ form.as_p }}#}
          <span class="login100-form-title p-b-37">
            Forgot Password?
          </span>
          <!-- <br /> -->
          <span class="input100">
            Enter your email address below, and we’ll email instructions for setting a new one.
          </span>
          <br />
            <h4 style="color: red; padding-left: 8px ">{{ form.email.errors }}</h4><br>
          <div
            class="wrap-input100 validate-input m-b-20"
            data-validate="Enter username or email"
          >
            <input
              class="input100"
              type="email"
              name="email"
              id="id_email"
              placeholder="Email"
              required
            />
            <span class="focus-input100"></span>
          </div>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Recover
            </button>
          </div>
        </form>
{% endblock %}