{% extends 'registration/base_reg.html' %}

{% block element %}

    {% if validlink  %}

    <form class="login100-form validate-form" method="post">
            {% csrf_token %}
          <span class="login100-form-title p-b-37">
            Reset Your Password
          </span>
          <!-- <br /> -->
          <br />

          <div
            class="wrap-input100 m-b-20"
          >
            <input
              class="input100"
              type="password"
              name="new_password1"
              id="id_new_password1"
              placeholder="New Password"
              required
            />
            <span class="focus-input100"></span>
          </div>
        <h4 style="color: red">{{ form.new_password1.errors }}<br></h4>

        <div
            class="wrap-input100  m-b-20"
          >
              <input
              class="input100"
              type="password"
              name="new_password2"
              id="id_new_password2"
              placeholder="New password confirmation"
              required
            />
          </div>
        <h4 style="color: red">{{ form.new_password2.errors }}<br></h4>
            <ol style="list-style: circle !important;color: purple;font-weight: bold">
              <li>Your password can't be too similar to your other personal information.</li>
              <li>Your password must contain at least 8 characters.</li>
              <li>Your password can't be a commonly used password.</li>
              <li>Your password can't be entirely numeric.</li>
              </ol>
        <br>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Submit
            </button>
          </div>
        </form>
    {% else %}
    <h3 style="color: purple">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </h3>
        <br>
  {% endif %}
{% endblock %}

