{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>PECFest 2019 | Sponsors</title>
    <meta charset="utf-8"/>
    <meta
            name="google-site-verification"
            content="y6S-k8gi7C6tuBfwev8Uu2pElpohVKTmuCQTYBCkh80"
    />
    <meta
            name="description"
            content="PECFEST, PEC | North India's Largest College Fest"
    />
    <meta property="og:title" content="PECFEST 2019"/>
    <meta property="og:url" content="https://www.pecfest.in"/>
    <meta
            property="og:description"
            content="PECFEST, 8th to 10th November, 2019: A Tropical Extravaganza"
    />
    <meta property="og:image" content="{% static 'images/logosun.png' %}"/>
    <link rel="shortcut icon" href="{% static 'images/logo_icon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'sponsors/main_file.css' %}"/>
    <link rel="stylesheet" href="{% static 'sponsors/text-box.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda:700&display=swap" rel="stylesheet">
</head>
<body>
<nav
        class="navbar navbar-default navbar-expand-lg navbar-fixed-top"
        id="sponsorMainNav"
>
    <div class="container">
        <div class="navbar-header mr-auto" id="myNavHeader">
            <a class="navbar-brand" href="#">
                <img
                        src="{% static 'images/pecfest-logo.png' %}"
                        alt=""
                        class="d-inline-block align-top mr-2"
                        style="display: inline-block"
                        id="myBrand"
                />
                <!-- <span>Sponsors</span> -->
                <span>
              <svg viewBox="0 0">
                <!-- Symbol-->
                <symbol id="s-text">
                  <text x="2%" y="50%" dy="-0.35em">
                    Sponsors
                  </text>
                </symbol>
                  <!-- Duplicate symbols-->
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
                <use class="text" xlink:href="#s-text"></use>
              </svg>
            </span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="navbar-text" href="#">A Tropical Extravaganza</a></li>
            </ul>
        </div>
    </div>
</nav>

{% for partner_name, queryset in  newSponsors.items %}

    {% if partner_name == "Title" %}
        {% for title in queryset %}
            <section id="#" class="sponsor-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="sponsor-heading">{{ partner_name }} Sponsor</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 sponsor-item">
                            <div class="helper"></div>
                            <img class="img-thumbnail img-responsive" style="max-height: 350px"
                                 src="{{ title.logo.url }}" alt="sponsor-logo"/>
                            <div class="sponsor-caption">
                                {#                                <h4>{{ title.name }}</h4>#}
                                {#                                {% if title.tag_line %}#}
                                {#                                    <p>{{ title.tag_line }}</p>#}
                                {#                                {% endif %}#}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% else %}
        <!-- Copy new section from here -->
        <section id="#food" class="sponsor-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="sponsor-heading">Co-Powered By</h2>
                    </div>
                </div>
                <div class="row">
                    <!-- Start copying from here for 3 X 3 sponsor -->
                    {% for sponsor in queryset %}
                        <div class="col-md-4 col-sm-6 sponsor-item">
                            <div class="helper"></div>
                            <img class="img-thumbnail img-responsive" style="max-height: 180px"
                                 src="{{ sponsor.logo.url }}" alt="sponsor-logo"/>
                            <div class="sponsor-caption">
                                {#                                <h4>{{ sponsor.name }}</h4>#}
                                {#                                {% if sponsor.tag_line %}#}
                                {#                                    <p>{{ sponsor.tag_line }}</p>#}
                                {#                                {% endif %}#}
                            </div>
                        </div>
                    {% endfor %}
                    <!-- End copying here for one sponsor -->
                </div>
            </div>
        </section>
        <!-- End copying section here -->
    {% endif %}
{% endfor %}

{% if pastSponsors %}
    <!-- Copy new section from here -->
    <section id="#food" class="sponsor-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="sponsor-heading">Past Sponsors</h2>
                </div>
            </div>
            <div class="row">
                <!-- Start copying from here for 3 X 3 sponsor -->
                {% for sponsor in pastSponsors %}
                    <div class="col-md-4 col-sm-6 sponsor-item">
                        <div class="helper"></div>
                        <img class="img-thumbnail img-responsive" style="max-height: 180px"
                             src="{{ sponsor.logo.url }}" alt="sponsor-logo"/>
                        <div class="sponsor-caption">
{#                            <h4>{{ sponsor.name }}</h4>#}
{#                            {% if sponsor.tag_line %}#}
{#                                <p>{{ sponsor.tag_line }}</p>#}
{#                            {% endif %}#}
                        </div>
                    </div>
                    <!-- End copying here for one sponsor -->
                    </div>
                {% endfor %}
        </div>
    </section>
    <!-- End copying section here -->

{% endif %}


</body>
</html>
