// article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}


.responsive-header {
    background: #5f6d7e;
    text-align: center;
    width: 20%;
  }
  @media screen and (max-width: 992px) {
    .responsive-header .main-navigation {
      margin-top: 10px;
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    .responsive-header p {
      color: white;
    }
  }
  @media screen and (max-width: 992px) {
    .responsive-header .profile-image {
      float: left;
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      overflow: hidden;
      margin-right: 30px;
    }
    .responsive-header .profile-content {
      text-align: left;
      margin-top: 30px;
      overflow: hidden;
    }
  }
  @media screen and (max-width: 992px) {
    .top-section {
      padding-bottom: 0;
    }
  }
  .top-section {
    padding: 40px;
    display: grid;
    justify-content: center;
  }
  .profile-image {
    width: 150px;
    height: 150px;
    border: 4px solid white;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    overflow: hidden;
    margin-bottom: 20px;
    
  }
  .profile-image img {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 992px) {
    .responsive-header .profile-image {
      float: left;
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      overflow: hidden;
      margin-right: 30px;
    }
    .responsive-header .profile-content {
      text-align: left;
      margin-top: 30px;
      overflow: hidden;
    }
  }
  h3.profile-title {
    margin-bottom: 5px;
    color: white;
    font-size: 18px;
    font-family: 'robotobold';
  }
  .main-navigation {
    margin: 30px 0;
  }
  .main-navigation li {
    cursor: pointer;
    display: block;
  }
  .main-navigation li a {
    padding: 15px 40px;
    display: block;
    color: white;
    font-size: 14px;
  }
  .main-navigation li a i {
    margin-right: 15px;
    font-size: 24px;
  }
  .main-navigation li a:hover {
    background: #5b6878;
  }
  .main-navigation li a.active {
    background: #495461;
  }
  .main-navigation li a.active:hover {
    background: #495461;
  }
  @media screen and (max-width: 992px) {
    .responsive-header .main-navigation {
      margin-top: 10px;
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    .main-navigation a {
      padding: 10px;
    }
    .main-navigation a.active {
      background: #5f6d7e !important;
    }
    .main-navigation a:hover {
      background: #5f6d7e !important;
    }
  }
  .sidebar-menu {
    float: left;
    width: 23%;
    height: 100%;
    position: fixed;
    background-color: #5f6d7e;
    color: white;
    overflow-y: hidden;
  }
  @media screen and (max-width: 1290px) {
    .sidebar-menu {
      overflow-y: scroll;
      width: 30%;
    }
  }
  .navigation {
      padding-left: 0;
  }
  .main-content,
.banner-bg {
  float: right;
  width: 77%;
  
}
@media screen and (max-width: 1290px) {
  .main-content,
  .banner-bg {
    width: 70%;
  }
}
@media screen and (max-width: 992px) {
  .main-content,
  .banner-bg {
    width: 100%;
  }
}
.banner-bg {
    padding: 260px 80px;
    position: absolute;
    right: 0;
    // background: url("../../../public/images/techback.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
    
    height: 100% !important;
}
.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(95, 109, 126, 0.4);
    top: 0;
    left: 0;
    z-index: 3;
}
.welcome-text {
    position: relative;
    z-index: 4;
  }
  .welcome-text h2 {
    font-size: 42px;
    font-family: 'robotobold';
    color: white;
    margin-bottom: 30px;
  }
  .welcome-text h5 {
    font-size: 22px;
    color: white;
  }
  ul {
    list-style: none;
  }

  .visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none!important;
}
    